<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>948654109221-rmgjg9hpql7nh5tugg7grso6c4005qah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948654109221-rmgjg9hpql7nh5tugg7grso6c4005qah</string>
	<key>API_KEY</key>
	<string>AIzaSyB9MtargmRjKCjc02iIDu4U9c69oBcQneY</string>
	<key>GCM_SENDER_ID</key>
	<string>948654109221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.egloffgroup.heartstoneAppFE</string>
	<key>PROJECT_ID</key>
	<string>heartstone-udemyionic</string>
	<key>STORAGE_BUCKET</key>
	<string>heartstone-udemyionic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948654109221:ios:23204aca7d2d9662</string>
	<key>DATABASE_URL</key>
	<string>https://heartstone-udemyionic.firebaseio.com</string>
</dict>
</plist>